

<p> Theatre Name: <%= @theatre.theatre_name %> </p>
<p> Show time: <%= @theatre.time %> </p>
<p> Location:  <%= @theatre.place %> </p>
 



<p> Movie Name: <%= @theatre.movie.name %> </p>
<p> Actor : <%= @theatre.movie.actor %> </p>
<p> Actress : <%= @theatre.movie.actress %> </p>









<%= link_to 'Home', theatres_path %>