<% provide(:title, 'Show Time - Display') %>
<div class="transbox">
<p> Theatre Name: <%= @timing.theatre.theatre_name %> </p>
<p> Show timings: <%= @timing.theatre.time %> </p>
<p> Location:  <%= @timing.theatre.place %> </p>
 


<p> Morning show: <%= @timing.morning_show %> </p>
<p> Matinee show: <%= @timing.matinee_show %> </p>
<p> First show:  <%= @timing.first_show %> </p>
<p> Second show:  <%= @timing.second_show %> </p>
 
 

</br></br>







&nbsp&nbsp&nbsp<%= link_to 'Home', timings_path %>
</div>