</br></br>
Search movies by name/actor/actress
<%= form_tag search1_path, method: :get do %>
  <p>
    <%= text_field_tag :search_cinema, params[:search], size: 40, placeholder: "you can use movie/actor/actress names" %> 
    <%= submit_tag "Search Movies", :name => nil  %>
  </p>
<% end %>



Search theatre details by name/place
<%= form_tag search2_path, method: :get do %>
  <p>
    <%= text_field_tag :search_hall, params[:search], size: 40, placeholder: "you can enter theatre name/location" %>
    <%= submit_tag "Search Theatres", :name => nil %>
  </p>
<% end %>



Search theatre and its respective movies
<%= form_tag search3_path, method: :get do %>
  <p>
    <%= text_field_tag :search_time, params[:search], size: 40, placeholder: "Enter any theatre name" %>
    <%= submit_tag "Search Timings", :name => nil %>
  </p>
<% end %>

<h2>Movies</h2>
<table class="table table-striped">
	<thead>
		<tr class="active">
			<th>Movie Name </th>
			<th>Actor </th>
			<th>Actress</th>
			<th>Show movies</th>
			<th>Edit movies</th>
		</tr>
	</thead>
	<tbody>
	
		<% @movies.each do |f| %>
			<tr>
				<td><%= f.name %></td>
				<td><%= f.actor %></td>
				<td><%= f.actress %></td>
				<td><%= link_to ' Show  ', show_movie_path(f) %></td>
				<td><%= link_to ' Edit ', edit_movie_path(f) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

 





</br>

<h1>Theatres</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Theatre Name </th>
			<th>Place </th>
			<th>Time</th>
			<th>Movie Id</th>
			<th>Show Details</th>
			<th>Edit Details</th>
		</tr>
	</thead>
	<tbody>
		<% @theatres.each do |f| %>
			<tr>
				<td><%= f.theatre_name %></td>
				<td><%= f.place %></td>
				<td><%= f.time %></td>
				<td><%= f.movie_id%></td>
				<td><%= link_to ' Show  ', show_theatre_path(f) %></td>
				<td><%= link_to ' Edit ', edit_theatre_path(f) %></td>
			</tr>
		<% end %>
	</tbody>
</table> 

</br></br>

<h1>Theatre - Shows</h1>
<table class="table table-condensed">
	<thead>
		<tr>
			
			<th>Theatre id</th>
			<th>Theatre name</th>
			<th>Theatre shows</th>
			<th>Edit </th>
		</tr>
	</thead>
	<tbody>
		<% @timings.each do |f| %>
			<tr>
			
			    <th><%= f.theatre_id %></th>
			    <th><%= f.theatre_name %></th>
				<td><%= link_to ' Show  ', show_timing_path(f) %></td>
				<td><%= link_to ' Edit ', edit_timing_path(f) %></td>
			</tr>
		<% end %>
	</tbody>
</table>



