<% provide(:title, 'Home') %>
</br></br> 
Search movies by name/actor/actress
<%= form_tag search_movies_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search], size: 35, placeholder: "you can use movie/actor/actress names" %> 
    <%= submit_tag "Search Movies", :name => nil  %>
  </p>
<% end %>



</br></br>

<h2>Movies</h2><%= link_to '(Create new)', new_movie_path %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Movie Name </th>
			<th>Actor </th>
			<th>Actress</th>
			<th>Show movie</th>
			<th>Edit movie</th>
			<th>Delete movie</th>

		</tr>
	</thead>
	<tbody>
	
		<% @movies.each do |f| %>
			<tr>
				<td><%= f.name %></td>
				<td><%= f.actor %></td>
				<td><%= f.actress %></td>
				<td><%= link_to ' Show  ', movie_path(f) %></td>
				<td><%= link_to ' Edit ', edit_movie_path(f) %></td>
				<td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>




 


