<% provide(:title, 'Search') %>
</br></br>
<h3 style="color:green">Here is what we found for you:</br></br></h3>


 <h4 style="color:blue">Your quey has yielded <%= pluralize(@search.count, "result") %>. </h4>

<p class="one"><h5 style="color:purple"><ol><% @search.each do |f| %>
<li>Movie name :<%= f.name %></br>
Actor :<%= f.actor %></br>
Actress :<%= f.actress%></li></br>
<% end %></ol>
<%= @search1 %></h5></p>




	<%= link_to 'Home', movies_path %>


