<% provide(:title, 'Show') %>
<div class="transbox">
<p> Movie Name: <%= @movie.name %> </p>
<p> Actor : <%= @movie.actor %> </p>
<p> Actress : <%= @movie.actress %> </p>

<p> Theatre Name: <%= @movie.theatre.theatre_name %> </p>
<p> Show time: <%= @movie.theatre.time %> </p>
<p> Location:  <%= @movie.theatre.place %> </p>




&nbsp&nbsp&nbsp<%= link_to 'Home', movies_path %>

</div>
 <iframe id="frame1" name="iframe_2" style="position:absolute;top: 100px;left: 700px;float: right;width: 600px;height: 400px;margin: 30px 50px;border: 1px solid black;opacity: 1;"></iframe>




<% if @movie.id == 1 %> 
	<%= link_to 'view review here', "http://entertainment.oneindia.in/telugu/movies/attharintiki-daaredhi/review.html" , { :target => "iframe_2" } %>

<% elsif @movie.id == 2 %>
	<%= link_to 'view review here', "http://entertainment.oneindia.in/telugu/movies/seethamma-vakitlo-sirimalle-chettu/review.html" , { :target => "iframe_2" } %>

<% elsif @movie.id == 5 %>
	<%= link_to 'view review here', "http://entertainment.oneindia.in/telugu/movies/laddu-babu/review.html" , { :target => "iframe_2" } %>

<% elsif @movie.id == 4 %>
	<%= link_to 'view review here', "http://entertainment.oneindia.in/telugu/movies/1-nenokkadine/review.html" , { :target => "iframe_2" } %>

<% elsif @movie.id == 3 %>
	<%= link_to 'view review here', "http://entertainment.oneindia.in/telugu/movies/yevadu/review.html" , { :target => "iframe_2" } %>
	<% end %>

	

  
    




