<% provide(:title, 'Show') %>
<div class="transbox">
<p> Movie Name: <%= @movie.name %> </p>
<p> Actor : <%= @movie.actor %> </p>
<p> Actress : <%= @movie.actress %> </p>

<p> Theatre Name: <%= @movie.theatre.theatre_name %> </p>
<p> Show time: <%= @movie.theatre.time %> </p>
<p> Location:  <%= @movie.theatre.place %> </p>




&nbsp&nbsp&nbsp<%= link_to 'Home', movies_path %>

</div>

<p><a href="https://www.youtube.com/watch?v=txqBD6_WOHw" target="iframe_2">Click here</a></p>






