<!DOCTYPE html>
<html>
<head>
  <title>RealtimeProject1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

</br></br>

<p><h1 style="color:maroon"><center><strong><u>My Movies</u></strong></center></h1></p>
Search movies in Your area:
	

<%= form_tag search1_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search], size: 40, placeholder: "you can use movie/actor/actress names" %> 
    <%= submit_tag "Search Movies", :name => nil  %>
  </p>
<% end %>




</br>

Search theatres here:

<%= form_tag search2_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search], size: 40, placeholder: "you can enter theatre name/location" %>
    <%= submit_tag "Search Theatres", :name => nil %>
  </p>
<% end %>

<%= yield %>

</body>
</html>
