<!DOCTYPE html>
<html>
<head>
  <title>Movies | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- user defined -->
  <style>
    body 
    {
      background: linear-gradient(white, #b0c4de); 
      color:black;
      font-family: verdana;

    }

    #grad1
    {
      height:1000px;
      width:1200px;
      float:right;
      margin-top:130px;


    }

    p.ex 
    {
      color:red;
      position:fixed;
      right:50px;
      top:20px;

    }

    p.one
    {
      border-style:solid;
      border-color:yellow;
    }
    div.fixed1
    {
      position: fixed;
      right:40px;
      left:0px;
    }
    div.fixed
    {
      position:fixed;
      top:90px;
      left:0px; 
    }

    p.imge
    {
      background:url("/reel3.jpg");
      background-size:200px 150px;
      background-repeat:no-repeat;
      background-position: 600px 150px;
      padding-top:40px;
    }
    div.transbox
    {
      position: fixed;
      top: 120px;
      left: 200px;
      float: right;
      width: 360px;
      height: 400px;
      margin: 30px 50px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity:0.7;
    }
    div.transbox2
    {
      position: fixed;
      top: 240px;
      left: 650px;
      float: right;
      width: 300px;
      height: 200px;
      margin: 30px 50px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity:0.7;
    }
    div.transbox p
    {
      margin: 30px 40px;
      font-weight: bold;
      color: #000000;
    }
    #frame1
    {
      position:fixed;
      top: 240px;
      left: 650px;
      float: right;
      width: 500px;
      height: 300px;
      margin: 30px 50px;
      border: 1px solid black;
      opacity: .5;
    }


  </style>



</head>


<body>

  <div id="container" style="width:1500px">


    <div class="fixed1" style="background-color:#b0c4de;height:90px;width:1450px;">
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.

          <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>


        <!--login authentication-->
        <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
        <% end %>


        <h1 style="color:maroon;"><center>My Movies</center></h1>
        <p class="ex"></br>| <%= link_to 'Movies', movies_path %> |<%= link_to 'Theatres', theatres_path %> |<%= link_to 'Timings', timings_path %> |</br></p>
    </div>

    <div class="fixed" id="menu" style="background: linear-gradient(#F5DEB3, white);height:1000px;width:200px;">
       <p><h4 style="color:green"><u>List of Movies:</u></h4></p>
       <ol>
        <li><%= link_to 'One', '/movies/4' %></li>
        <li><%= link_to 'AD', '/movies/1' %></li>
        <li><%= link_to 'SVSC', '/movies/2' %></li>
        <li><%= link_to 'Yevadu', '/movies/3' %></li>
        <li><%= link_to 'Laddu Babu', '/movies/5' %></li>
        
      </ol> 
      <p><h4 style="color:green"><u>List of Theatres:</u></h4></p>
      <ol>
        <li><%= link_to 'Aradhana', '/timings/1' %></li>
        <li><%= link_to 'Srinivasa-Uppal', '/timings/2' %></li>
        <li><%= link_to 'Sandhya', '/timings/3' %></li>
        <li><%= link_to 'Sudarshan', '/timings/4' %></li>
        <li><%= link_to 'Shanthi', '/timings/5' %></li>
        <li><%= link_to 'Sri Krishna', '/timings/6' %></li>
        <li><%= link_to 'Raj Lakshmi', '/timings/7' %></li>
        <li><%= link_to 'Srinivasa-Tarnaka', '/timings/8' %></li>
      </ol> </br>

    </div>
   
  

    <div id="grad1" class="transbox1">


      <%= yield %>
    </div>
  </div>





  </body>
  </html>
